<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap" rel="stylesheet">
  <script>
    tailwind.config = {
      theme: {
        extend: {
          fontFamily: {
            mono: ['Cutive Mono', 'monospace'],
          },
        },
      },
    };
  </script>
  <title>Tech Blog</title>
</head>

<body>
  <header class="font-mono h-44 flex justify-center items-center">
    <a href="/" class="text-5xl">Tech Blogs</a>
    <a href="/profile" class="px-4 hover:underline hover:underline-offset-4">
      Profile
    </a>
    <a href="/dashboard" class="px-4 hover:underline hover:underline-offset-4">
      Dashboard
    </a>
    {{#if logged_in}}
    <a id="logout"
      class="px-4 cursor-pointer hover:underline hover:underline-offset-4">
      Logout</a>
    {{else}}
    <a href="/login"
      class="px-4 cursor-pointer hover:underline hover:underline-offset-4">Login</a>
    {{/if}}
  </header>
  {{{ body }}}
  {{#if logged_in}}
  <script src="../js/logout.js"></script>
  {{/if}}
</body>

</html>